<app-header titulo="nova conta"></app-header>

<ion-content>
    <form [formGroup]="formGroup" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-select formControlName="tipoConta" placeholder="Tipo de Conta" required>                
                <mat-option *ngFor="let tipo of tipoContas" [value]="tipo.codigo">
                    {{tipo.descricao}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="valorConta" placeholder="Valor da Conta" (keypress)="inputKeyPressAsBrlCurrency($event)" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="vencimento" placeholder="Data de Vencimento" formControlName="dataVencimento" 
            readonly="true" required>
            <mat-datepicker-toggle matSuffix [for]="vencimento"></mat-datepicker-toggle>
            <mat-datepicker #vencimento></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="pagamento" placeholder="Data de Pagamento" formControlName="dataPagamento" readonly="true">
            <mat-datepicker-toggle matSuffix [for]="pagamento"></mat-datepicker-toggle>
            <mat-datepicker #pagamento></mat-datepicker>
        </mat-form-field>

        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="statusConta">
            <mat-radio-button class="example-radio-button" *ngFor="let status of statusConta" [value]="status.codigo">
                {{status.descricao}}
            </mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Quantidade de Parcelas" formControlName="qtdParcelas">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Comentario" formControlName="comentario" matTextareaAutosize
            matAutosizeMinRows="2" matAutosizeMaxRows="4"></textarea>
        </mat-form-field>
    </form>

    <ion-toolbar class="example-full-width">
        <ion-button (click)="salvar()" [disabled]="!formGroup.valid || addCan" expand="block" shape="round">Salvar</ion-button>
    </ion-toolbar>
</ion-content>