.example-form {
    min-width: 150px;
    max-width: 500px;
    margin: 19px;
    margin-top: 13px;
}

.example-full-width {
  width: 100%;
}

.example-radio-group {
  display: flex;
}

.example-radio-button {
  margin: 5px 18px 30px 0px;
}
