<ion-content>
  <ion-title>
    <div class="container">
      <br/>
      <div class="row">
        <div class="col-md text-center">
          Caderneta de Contas
        </div>
      </div>
    </div>
  </ion-title>

  <div class="fild-form">

    <form [formGroup]="formGroup">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <ion-icon name="mail"></ion-icon>
                </div>
              </div>
              <input type="email" class="form-control" formControlName="email" name="email" placeholder="Email" required
                [ngClass]="{ 
              'is-valid': isFieldValid, 
              'is-invalid': isFieldInValid
            }">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <ion-icon name="lock"></ion-icon>
                </div>
              </div>
              <input type="password" class="form-control" formControlName="senha" name="senha" placeholder="Senha"
                [ngClass]="{ 'is-valid': !f.senha.errors }" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md text-right">
            <ion-note slot="primary" [routerDirection]="'root'" [routerLink]="['/cadastro']" color="primary">Esqueci a
              senha?
            </ion-note>
          </div>
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col">
            <ion-button expand="block" (click)="login()" [disabled]="!formGroup.valid || addCan">
              Entrar</ion-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="container">
      <div class="row">
        <div class="col-md text-center">
          Ainda não tem cadastro?
          <ion-label color="primary" position="floating" [routerDirection]="'root'" [routerLink]="['/cadastro']">
            Click aqui
          </ion-label>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>