
.fild-form{
    margin-top: 280px;

    .fild-form-esqueci-senha{
        margin: 20px 20px 20px 230px;
    }

    .fild-form-login{
        flex-direction: column;
        margin: 16px;
    }
}

.footer{
    height: 30px;
    margin: 0px 45px 0px;
}