<ion-content>
  <ion-title>
    <h3>Caderneta de Contas</h3>
  </ion-title>
  <img src="assets/imgs/login.png" alt="logo">

  <form [formGroup]="formGroup">

    <ion-item>
      <ion-label position="inline">Email <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input formControlName="email" name="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="inline">Senha <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="senha" name="senha" type="password">
      </ion-input>
      <ion-icon slot="end" (click)="togglePasswordFieldType()" [name]="isTextFieldType ? 'eye-off' : 'eye'">
      </ion-icon>
    </ion-item>

    <ion-button expand="block" (click)="login()" [disabled]="!formGroup.valid || addCan">Entrar</ion-button>
  </form>
  <ion-button expand="block" size="small" (click)="registrar()">Registrar</ion-button>

</ion-content>