.welcome-card {
  margin-top: 11px;
  height: 583px;

  h3 {
    text-align: center;
  }

  img {
    width: 300px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
  }

  form {
    margin: auto;
    display: block;
    margin-top: 42px;
  }
}
