ion-header {
  ion-toolbar {
    ion-buttons {
      z-index: 100;
    }

    ion-title { 
      text-align: center;
      color: black;
      font-family: Arial;
      font-weight: bold; 
    }
  }
}
