ion-card {
  width: 93%;

  .card-header {
    background-color: green;
    width           : 75px;
    height          : 100px;
    margin-top      : 0px;
    font-family     : "Times New Roman";
    font-style      : normal;
    font-weight     : bold;
    text-align      : justify;

    .card-header-mes {
      margin   : 9px 0px 0px;
      font-size: 34px;
      height   : 40px;
      color    : ivory;
    }

    .card-header-mes-ano {
      margin-left: -5px;
      text-align : justify;
      font-size  : x-small;
      width      : 45px;
      margin-top : 4px;
      color      : ivory;
    }

    .card-content {
      margin-top : -67px;
      margin-left: 80px;
      width      : 206px;

      p {
        margin       : -18px -10px 0px;
        margin-bottom: 1rem;
      }
    }
  }
}

.card-header-footer {
  background-color          : green;
  margin-left               : 94.3%;
  margin-top                : -110px;
  height                    : 101px;
  width                     : 4%;
  border-top-right-radius   : 5px;
  border-bottom-right-radius: 5px;
}