<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-capitalize>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <app-list-skeleton [items]="items"></app-list-skeleton>

  <ion-list>
    <ion-card *ngFor="let item of items" (click)="contas(item.codigo)">

      <ion-item color="secondary">
        <ion-icon slot="start" name="card"></ion-icon>
        <ion-card-title text-capitalize color="light">{{ item.mes }} / {{ item.ano }}</ion-card-title>
      </ion-item>

      <ion-card-content>
        <p>Salario: R$ {{ item.salario }}</p>
        <p>Quantidade de Contas: {{ item.qtdConta }}</p>
        <p>Total de Gastos: R$ {{ item.totalGastos }}</p>
        <p>Saldo Final: R$ {{ item.saldoFinal }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addConta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>